
:root{

  --cor_primario: #76c08f;
  --cor_secundario: #c1c1c1;
  --borda: #e1e1e1;
  --branco_primario: #fff;
  --branco_secundario: #f9f9f9;
  --sombra: #ccc;

}

/* Estilo geral */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--branco_secundario);
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  
}

nav{
  padding-top: 20px;
  background: var(--cor_primario);
  box-shadow: 0px 5px 5px #4444445c;
}

.menu {
  display: flex;
  background: #5d6760;
  padding: 7px 25px;
  margin-top: 10px;
  font-size: 20px;
  
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.bnt_home {

  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  
  
}

.logo img {
  width: 260px;
  margin: 0 auto;
  display: flex;
}

.bnt_home a {
  font-family: 'Comic Neue';
  text-decoration: none;
  color: #e5e5e5;
}

/* Estilo do conteúdo principal */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 10px auto;
  min-height: 85vh;
  border-radius: 2px;
  width: 100%;
}


.content {
  width: 100%;
  padding: 0 0;
}

.main-column {
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  border-top: 1px solid var(--borda);
  }

#categorias-box{
  padding-top: 0;
}

.titulos h2, .titulos h5 {
  color: var(--cor_secundario);
  font-family: 'Comic Neue', cursive;
  

}
/* Estilo da barra de filtros */
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  width: 100%;
  justify-content: space-evenly;
}

.filter-button {
    padding: 5px 5px;
    margin: 5px 3px;
    border: none;
    border-radius: 5px;
    background-color: var(--branco_primario);
    color: #6f6f6f;
    font-size: 14px;
    box-shadow: 0px 0px 3px var(--sombra);
    cursor: pointer;
    width: 30%;
}

.filter-button:hover,
.filter-button.active {
  background-color: var(--cor_primario);
  color: var(--branco_primario);
  font-weight: bold;
}

/* Estilo da caixa de item */
.story-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 15px;
}

.story-box img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 3px var(--sombra);
}

.story-box p {
  text-align: left;
  margin: auto 10px;
  font-size: 22px;
  color: #76c08f;
  font-family: 'Coming Soon', cursive;
  font-style: italic;
  font-weight: bold;
  user-select: none;
}

.story-box:hover {
  cursor: pointer;
  color: #81d881;
}

/* Estilo do rodapé */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--cinza_primario);
  text-align: center;
  margin-top: auto;
  padding: 20px;
  background: var(--cor_primario);
}

footer p {
  font-size: 16px;
  color: var(--branco_secundario);
}


.social-links {
  display: flex;
}

.social-link {

  text-decoration: none;
  margin: 10px;
  display: flex;
  color: #6f6f6f;
  font-size: 12px;
  font-weight: 600;
}



